<div
  class="
    d-flex
    flex-column
    min-vh-100
    justify-content-center
    align-items-center
  "
>
  <div class="info-card">
    <div class="container">
      <div class="row">
        <div class="col-auto">
          <div class="info-picture">
            <img
              src="../../../assets/Viktor.Small.jpg"
              class="avatar img-fluid img-thumbnail rounded-circle"
              alt=""
            />
          </div>
        </div>
        <div class="col-auto">
          <h1>Viktor Karlström</h1>
          <p>.NET developer</p>
          <a
            href="https://www.linkedin.com/in/viktor-karlstrom/"
            target="_blank"
          >
            <fa-icon class="fa-2x" [icon]="faLinkedin"></fa-icon>
          </a>
          <a href="https://github.com/ViktorKarlstrom" target="_blank">
            <fa-icon class="fa-2x" [icon]="faGithub"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
